// main: ../estilos.scss
footer {
    background: #fff;
    padding: 3em 0;
    text-align: center;
    p {
        color: $color-gris;
        font-size: 1em;
        margin-bottom: 0;
        text-align: center;
    }
}